RewriteEngine On

# ------------- Route User -------------
RewriteRule user/([0-9]+)$ user.php?id_user=$1 [L]
RewriteRule user$ users.php [L]

# ------------- Route Session -------------
RewriteRule session/([0-9]+)$ session.php?id_session=$1 [L]
RewriteRule session$ session.php [L]

# ------------- Route Métier -------------
RewriteRule metier/([0-9]+)$ metier.php?id_metier=$1 [L]
RewriteRule metier$ metiers.php [L]

# ------------- Route Centre -------------
RewriteRule centre/([0-9]+)$ centre.php?id_centre=$1 [L]
RewriteRule centre$ centre.php [L]

# ------------- Route Comportement -------------
RewriteRule comportement/([0-9]+)$ comportement.php?id_comportement=$1 [L]
RewriteRule comportement$ comportement.php [L]

# ------------- Route savoir -------------
RewriteRule savoir/([0-9]+)$ savoir.php?id_savoir=$1 [L]
RewriteRule savoir$ savoir.php [L]

# ------------- Route inscription -------------
RewriteRule inscription/([0-9]+)$ inscription.php?id_inscription=$1 [L]
RewriteRule inscription$ inscription.php [L]